@model MicrocontrollersInfo.Web.Models.MicrocontrollersEditingModel

@{
    ViewBag.Title = "Delete";
}

<h2>Видалити</h2>

<h4>Чи дійсно Ви бажаєте видалити це?</h4>
<p>@Html.ActionLink("Назад", "Index", "Home")</p>
<div>
    <
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.housingTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.housingTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BitRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default btn-primary" /> |
            @Html.ActionLink("Повернутися до списку", "Index")
        </div>
    }
</div>
