@model IEnumerable<MicrocontrollersInfo.Web.Models.MicrocontrollersBrowsingModel>
@{
    ViewBag.Title = "Browse";
}


<script type="text/javascript">
    function OnSuccess(data) {
        var info = $('#info' + data.Id);
        info.empty();
        //if (data.Info == null)
        //    return;
        for (var i = 0; i < data.Info.length; i++) {
            info.append('<p class="lead">' + data.Info[i] + '</p>');
        }
    }
</script>

@*<h2>Browse</h2>*@
<h2>Інформація про мікроконтролери і типи корпусів</h2>
<p>@Html.ActionLink("Назад", "Index")</p>

@foreach (var m in @Model)
{
    <div class="row panel">
        <div class="col-xs-12">
            <h3><strong>@m.Brand</strong></h3>
            <strong class="lead">Тип корпусу: @m.housingTypeName</strong><br />
            <strong class="lead">Розрядність: @m.BitRate</strong><br />
            <strong class="lead">Цінa (грн.): @m.Price </strong><br />
            <hr />
            @if (m.HasInfo)
            {
                <div id=@string.Concat("info", @m.Id)>
                    @using (Ajax.BeginForm(
                        "JsonIdInfo",
                        new AjaxOptions
                        {
                            OnSuccess = "OnSuccess"
                        }))
                    {
                        @Html.Hidden("id", @m.Id)
                        <input type="submit" value="Опис" style="background-color:#e0e0e0; color: black;" />
                    }
                </div>
            }
            <hr />
        </div>
    </div>
}
