
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<h2>Мікроконтролери і типи корпусів</h2>

<p>@Html.ActionLink("Назад", "Index", "Home")</p>

<p >@Html.ActionLink("Мікроконтролери: детальна інформація", "ObjectsInfo")</p>
<p>@Html.ActionLink("Мікроконтролери і типи корпусів", "MicrocontrollersByHousingTypeInfo")</p>
<p>@Html.ActionLink("Відбір даних про мікроконтролери і типи корпусів", "Selection")</p>
<p>@Html.ActionLink("Мікроконтролери і типи корпусів за літерою назви", "BrowseByLetters")</p>
<p>@Html.ActionLink("Перегляд даних про мікроконтролери і типи корпусів з дозавантаженням опису", "Browse")</p>


